@import 'style/normalize.css';
@import 'style/fonts';
@import 'style/var';
@import 'style/style';

.todo-app {
  display: flex;
  flex-direction: column;
  align-items: center;

  width: 100%;

  margin: 15px;

  .todo-container {
    width: 50%;

    .inputs-container {
      display: flex;
      flex-direction: column;
    }
  }


  table {
    width: 70%;
  }

  table, th, td {
    border: 1px solid black;
  }
}
